<div class="container justify-content-between" style="max-width:1000px">
  <div class="page-header">
    <div class="band-nav">
      <div class="container d-flex justify-content-between">
        <h2 class="band-session-band-title"><%= @band.title %></h2>
        <br>
        <h2>Sessions</h2>
        <br>
        <a class="map-list-button mt-1 ms-5" href="<%= band_my_band_path(current_user.band)%>" role="button">My band</a>
      </div>

      <div class="container">
        <% @band_sessions.each do |band_session| %>
          <div class="band_sessions_details_card d-flex justify-content-between fs-4 mx-2">
            <div class="container date">
              <ul class="fs-4 mt-4">
                <%= band_session.start_date.strftime('%b') %>
                <p style="font-size:35px"><%= band_session.start_date.strftime('%d') %></p>
              </ul>
            </div>
            <div class="container pipe">|</div>
            <div class="details_group d-flex">
              <div class="container d-flex justify-content-between" style="margin-top: 25px;">
                <div class="container session_info">
                  <ul class="fs-4 d-flex justify-content-between mt-2" style="margin-left:-300px">
                    <div>
                      <i class="fa-solid fa-clock" style="color: #36454f;"></i>
                      <%= band_session.start_date.strftime('%H:%M %#p') %>
                    </div>
                      -
                    <div>
                      <%= band_session.end_date.strftime('%H:%M %#p') %>
                    </div>
                  </ul>
                </div>
                <div class="container members">
                  <div class="container session_members mt-2">
                    <ul class="fs-4">
                      <div class="container">
                        <div class="d-flex justify-content-between">
                          <i class="fa-solid fa-users" style="color: #36454f;"></i>  Members
                        </div>
                        <div class="member-image">
                          <% @band.members.each_with_index do |member, index| %>
                            <div class="container essa-merda">
                              <%= image_tag member.photo, class: "avatar-bordered", alt: "avatar-bordered", style:"z-index: #{index};" %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="container session_adjust">
                <div class="adjust-only">
                  <a class="map-list-button mt-4 d-block p-1 bg-white w-100" href="<%= edit_band_band_session_path(@band, band_session) %>" role="button">
                    <i class="fa-solid fa-pen-to-square" style="color: #36454f;"></i> Edit
                  </a>
                  <a class="map-list-button mt-4 d-block p-1 bg-white w-100 text-decoration-none"
                    href="<%= band_band_session_path(@band, band_session) %>"
                    data-turbo-method="delete"
                    data-turbo-confirm="Are you sure?">
                    <i class="fa-solid fa-circle-xmark" style="color: #36454f;"></i></i> Cancel
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>

</div>
