<div class="p-2 user-card"> <%# /user-card j-content flex-wrap %>
  <%= link_to user_path(user) do %>

    <div>
     <%# <%= image_tag 'default-profile-image.jpg', alt: 'profile-image', class: 'rounded-circle card-img-top p-2' %>
      <!-- Optional: Check if there's a photo attached to the user, and only display if available -->
      <% if user.photo.attached? %>
        <%= image_tag @user.photo, alt: "#{user.first_name} #{user.last_name}", class:"rounded-circle card-img-top p-2" %>
      <% else %>
        <%= image_tag "default-profile-image.jpg", alt: "default profile image", class:"rounded-circle card-img-top p-2" %>
      <% end %>
    </div>


    <div class="card-body mt-3">

      <h5 class="text-center"><%= user.first_name %> <%= user.last_name %></h5>
      <div>
        <i class="fa-solid fa-drum fs-3 m-2"></i>
        <% instruments = user.instruments
        begin
          formatted_instruments = JSON.parse(instruments).map(&:downcase).join(", ")
        rescue JSON::ParserError
          formatted_instruments = instruments
        end %>
        <%= formatted_instruments %>
      </div>
      <div>
        <i class="fa-solid fa-location-dot fs-3 m-2"></i>
        <%= user.address %>
      </div>
    </div>
  <% end %>
</div>
