<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path('profile-banner.jpg') %>);"></div>

  <div class="container profile_banner">
    <div class="mb-3">
      <% if @user.photo.attached? %>
        <%= image_tag @user.photo, alt: "#{@user.first_name} #{@user.last_name}", class: "profile_image" %>
      <% else %>
        <%= image_tag "default-profile-image.jpg", alt: "default profile image", class: "profile_image" %>
      <% end %>
    </div>

    <div class="row border solid">
      <div class="col-3">
        <h2 class="m-3"><%= @user.first_name %> <%= @user.last_name %></h2>
      </div>

      <div class="col-9 text-end">
        <h4 class="m-3"> Member since: <%= @user.created_at.strftime("%b %d, %Y") %></h4>
      </div>
    </div>
  </div>

  <div class="row mt-4 d-flex justify-content-center">
   <div class="gap-5">
    <div class="user_details_card fs-4 d-flex flex-column">
      <div class="d-flex justify-content-between align-items-center">
        <h2>My Details</h2>
        <%if current_user == @user %>
          <%= link_to edit_user_path(@user), class: "ms-auto" do %>
            <i class="fa-solid fa-pencil fs-4"></i>
          <% end %>
        <% end %>
      </div>

      <div class="p-2 border-top"><i class="fa-solid fa-phone"></i> <%= @user.telephone_number %></div>
      <div class="p-2"><i class="fa-solid fa-location-dot"></i> <%= @user.address %></div>
      <div class="p-2"><i class="fa-regular fa-envelope"></i> <%= @user.email %></div>

      <div class="p-2 border-bottom">
        <i class="fa-solid fa-drum fs-3"></i>
        <%= @user.instruments.join(", ") %>
      </div>
    </div>
   </div>

  </div>

  <div class="user-info mt-3">
    <!-- Add a button to start or continue a chat with the user -->
    <% if current_user != @user %>
      <%= button_to 'Message this user', chats_path(chat: { band_leader_id: @user.id }), method: :post, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
