<div class="container">
  <div class="user-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path('profile-banner.jpg') %>);"></div>

  <div class="user-show-details-container">
    <!-- Profilbild und Details-Karte -->
    <div class="user-show-profile-container">
      <% if @user.photo.attached? %>
        <%= image_tag @user.photo, alt: "#{@user.first_name} #{@user.last_name}", class: "user-show-profile-image" %>
      <% else %>
        <%= image_tag "default-profile-image.jpg", alt: "default profile image", class: "user-show-profile-image" %>
      <% end %>
    </div>

    <div class="user-show-details-card-my-page">
      <div class="user-show-details-header">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <% if current_user == @user %>
           <%= link_to edit_user_path(@user), class: "ms-auto mt-0" do %>
            <i class="fa-solid fa-pencil user-show-icon"></i>
          <% end %>
        <% end %>
      </div>

      <!-- Address section -->
      <div class="user-show-detail-item">
        <i class="fa-solid fa-location-dot user-show-icon"></i> <%= @user.address %>
      </div>

      <!-- Phone number section -->
      <div class="user-show-detail-item">
        <i class="fa-solid fa-phone user-show-icon"></i> <%= @user.telephone_number %>
      </div>

      <!-- Email section -->
      <div class="user-show-detail-item">
        <i class="fa-regular fa-envelope user-show-icon"></i> <%= @user.email %>
      </div>

      <!-- Instruments section -->
      <div class="user-show-detail-item border-top pt-2">
        <i class="fa-solid fa-drum user-show-icon"></i>
        <%= @user.instruments.join(", ") %>
      </div>

      <!-- "Member since" text positioned at the bottom right inside the card -->
      <span class="member-since">Member since: <%= @user.created_at.strftime("%b %d, %Y") %></span>
    </div>

    <!-- Pending Requests Sektion -->
    <% if current_user == @user %>
      <div class="user-show-pending-requests">
        <h3 class="simple-heading">Pending Join Requests</h3>

        <% if @join_requests.any? %>
          <% @join_requests.each do |request| %>
            <div class="card mb-3 shadow-sm user-show-request-card">
              <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                  <h5 class="card-title mb-1"><%= link_to "#{request.band.title}", band_path(request.band) %></h5>
                  <p class="mb-0 text-muted">Requested to join on <%= request.created_at.strftime("%B %d, %Y") %></p>
                </div>
                <div class="btn-group">
                  <%= button_to 'Accept', accept_user_join_request_path(user_id: @user.id, id: request.id), method: :patch, class: "btn user-show-btn-success", data: { confirm: 'Are you sure you want to accept this request?' } %>
                  <%= button_to 'Decline', decline_user_join_request_path(user_id: @user.id, id: request.id), method: :patch, class: "btn user-show-btn-danger", data: { confirm: 'Are you sure you want to decline this request?' } %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="text-muted">No pending requests at the moment.</p>
        <% end %>
      </div>
    <% else %>
      <div class="map" style="width: 100%; height: 107%; margin-top: 85px;" data-controller="map" data-map-usermarkers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <% end %>
  </div>


  <div class="user-info mt-3">
    <% if current_user != @user %>
      <%= button_to "Message #{@user.first_name}", chats_path(chat: { band_leader_id: @user.id }), method: :post, class: "btn user-show-btn-primary" %>
    <% end %>

    <% if current_user != @user && !@user.band_id && current_user.band_id %>
      <% if current_user.join_requests.where(user_id: @user.id).length > 0 %>
        <p class="mt-3">Request already sent</p>
      <% else %>
        <%= button_to "Ask #{@user.first_name} to join my band", user_join_requests_path(user_id: @user.id, join_request: { join_type: "band_to_user" }), method: :post, class: "btn user-show-btn-primary mt-3" %>
      <% end %>
    <% end %>
  </div>
</div>
