<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png", class: "navbar-logo", alt: "Logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <!-- Welcome message -->
          <li class="nav-item me-3">
            <span class="nav-link navbar-text">
              <i class="fas fa-user-circle"></i> Welcome&nbsp;<strong><%= current_user.first_name.upcase %></strong>
            </span>
          </li>
          <!-- Navigation Links -->
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About us", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to chats_path, class: "nav-link position-relative message-icon-container" do %>
              <div class="icon-wrapper">
                <i class="fas fa-envelope envelope-icon"></i>
                <% unread_count = Chat.joins(:messages).where("(chats.user_id = :user_id OR chats.band_leader_id = :user_id) AND messages.read = false AND messages.user_id != :user_id", user_id: current_user.id).count %>
                <% if unread_count > 0 %>
                  <span class="unread-count-badge">
                    <%= unread_count %>
                  </span>
                <% end %>
              </div>
            <% end %>
          </li>
          <!-- Avatar and Dropdown -->
          <li class="nav-item dropdown">
            <a href="#" class="avatar nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= image_tag current_user.photo, alt: "dropdown menu", class:"avatar" %>
              <% else %>
                <%= image_tag "default-profile-image.jpg", alt: "default profile image", class:"rounded-image" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My account", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
