<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", class: "navbar-logo", alt: "Logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item me-3">
            <span class="nav-link navbar-text">
              <i class="fas fa-user-circle"></i> Welcome&nbsp;<strong><%= current_user.first_name.upcase %></strong>
            </span>
          </li>

          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          <li class="nav-item">
            <%= link_to "About us", about_path, class: "nav-link" %>
          </li>
          <% if current_user && !current_user.band_id %>
            <li class="nav-item">
              <%= link_to "Create your band", new_band_path, class: "nav-link"  %>
            </li>
          <% end %>
          </li>
          <li class="nav-item">
            <%= link_to chats_path, class: "nav-link position-relative message-icon-container" do %>
              <div class="icon-wrapper">
                <i class="fas fa-envelope envelope-icon"></i>
                <span class="unread-count-badge" style="display: none;">0</span>
              </div>
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="avatar nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= image_tag current_user.photo, alt: "dropdown menu", class:"avatar" %>
              <% else %>
                <%= image_tag "default-profile-image.jpg", alt: "default profile image", class:"rounded-image" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My account", user_path(current_user), class: "dropdown-item" %>
              <% if current_user && Band.find_by(leader_id: current_user.id) %>
                <%= link_to "My band", band_my_band_path(current_user.band), class: "dropdown-item" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <div class="login-area d-flex">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    function updateUnreadCount() {
      fetch('/chats/unread_count', {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").content
        }
      })
      .then(response => response.json())
      .then(data => {
        const unreadCountElement = document.querySelector('.unread-count-badge');
        if (data.unread_count > 0) {
          unreadCountElement.innerText = data.unread_count;
          unreadCountElement.style.display = "inline";
        } else {
          unreadCountElement.style.display = "none";
        }
      })
      .catch(error => {
        console.error("Error fetching total unread count:", error);
      });
    }

    // start polling every 5 seconds
    setInterval(updateUnreadCount, 1000);
    updateUnreadCount(); // snitial call to set the count on page load
  });
</script>
