<div class="chats-container">
  <h1 class="chats-title">All My Chats</h1>

  <% if @chats.any? %>
    <div class="chat-cards-container">
      <% @chats.uniq(&:band_leader_id).each do |chat| %>
        <% if chat.messages.any? %>
          <div class="chat-card compact-card d-flex justify-content-between align-items-center" data-chat-id="<%= chat.id %>">
            <div class="chat-info">
              <% if chat.band_leader.band.present? %>
                <p><strong>Band:</strong> <%= chat.band_leader.band.title %></p>
              <% else %>
                <p><strong>Band:</strong> Not available</p>
              <% end %>

              <p><strong>Band Leader:</strong> <%= "#{chat.band_leader.first_name} #{chat.band_leader.last_name}" %></p>

              <p><strong>Last Activity:</strong>
                <%= chat.messages.order(:created_at).last.created_at.strftime("%d %b %Y %H:%M") %>
              </p>

              <% unread_messages_count = chat.messages.where(read: false).where.not(user_id: current_user.id).count %>
              <% if unread_messages_count > 0 %>
                <p><span class="badge unread-badge" data-chat-id="<%= chat.id %>">Unread Messages: <%= unread_messages_count %></span></p>
              <% else %>
                <p><span class="badge read-badge" data-chat-id="<%= chat.id %>">All Messages Read</span></p>
              <% end %>

              <%= link_to 'View Chat', chat_path(chat), class: "btn btn-primary btn-sm chat-link" %>
            </div>

            <div class="chat-partner-photo">
              <% if current_user.id == chat.user_id %>
                <% if chat.band_leader.photo.attached? %>
                  <%= image_tag chat.band_leader.photo, alt: "#{chat.band_leader.first_name} #{chat.band_leader.last_name}", class: "chat-partner-image" %>
                <% else %>
                  <%= image_tag "placeholder_user.png", alt: "Placeholder User", class: "chat-partner-image" %>
                <% end %>
              <% else %>
                <% if chat.user.photo.attached? %>
                  <%= image_tag chat.user.photo, alt: "#{chat.user.first_name} #{chat.user.last_name}", class: "chat-partner-image" %>
                <% else %>
                  <%= image_tag "placeholder_user.png", alt: "Placeholder User", class: "chat-partner-image" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if @band.present? %>
      <div class="back-to-band">
        <%= link_to 'Back to My Band Page', band_path(@band), class: "btn btn-secondary back-to-band-button" %>
      </div>
    <% end %>
  <% else %>
    <p class="no-chats">No chats available.</p>
  <% end %>
</div>
