<div class="chats-container">
  <h1 class="chats-title">All My Chats</h1>

  <% if @chats.any? %>
    <div class="chat-cards-container">
      <% @chats.each do |chat| %>
        <% if chat.messages.any? %>
          <div class="chat-card compact-card d-flex justify-content-between align-items-center" data-chat-id="<%= chat.id %>">
            <div class="chat-info">
              <% if chat.band_leader.band.present? %>
                <p><strong>Band:</strong> <%= chat.band_leader.band.title %></p>
              <% else %>
                <p><strong>Band:</strong> Not available</p>
              <% end %>

              <p><strong>Chat Partner:</strong>
              <% if current_user.id == chat.band_leader_id %>
                <%= "#{chat.user.first_name} #{chat.user.last_name}" %>
              <% else %>
                <%= "#{chat.band_leader.first_name} #{chat.band_leader.last_name}" %>
              <% end %>
            </p>

              <p><strong>Last Activity:</strong>
                <%= chat.messages.order(:created_at).last.created_at.strftime("%d %b %Y %H:%M") %>
              </p>

              <% unread_messages_count = chat.messages.where(read: false).where.not(user_id: current_user.id).count %>
              <% if unread_messages_count > 0 %>
                <p><span class="badge unread-badge" data-chat-id="<%= chat.id %>">Unread Messages: <%= unread_messages_count %></span></p>
              <% else %>
                <p><span class="badge read-badge" data-chat-id="<%= chat.id %>">All Messages Read</span></p>
              <% end %>

              <%= link_to 'View Chat', chat_path(chat), class: "btn btn-primary btn-sm chat-link" %>
            </div>

            <div class="chat-partner-photo">
              <% if current_user.id == chat.user_id %>
                <% if chat.band_leader.photo.attached? %>
                  <%= image_tag chat.band_leader.photo, alt: "#{chat.band_leader.first_name} #{chat.band_leader.last_name}", class: "chat-partner-image" %>
                <% else %>
                  <%= image_tag "placeholder_user.png", alt: "Placeholder User", class: "chat-partner-image" %>
                <% end %>
              <% else %>
                <% if chat.user.photo.attached? %>
                  <%= image_tag chat.user.photo, alt: "#{chat.user.first_name} #{chat.user.last_name}", class: "chat-partner-image" %>
                <% else %>
                  <%= image_tag "placeholder_user.png", alt: "Placeholder User", class: "chat-partner-image" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if @band.present? %>
      <div class="back-to-band">
        <%= link_to 'Back to My Band Page', band_path(@band), class: "btn btn-secondary back-to-band-button" %>
      </div>
    <% end %>
  <% else %>
    <div style="background-color: white; height: 386px; width: 300px; margin-left: 30%; position: relative; border-radius: 10px" class="mt-5">
      <i class="fa-solid fa-comments" style="color: black; font-size: 90px; position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%);"></i>
      <h4 style="color: black; position: absolute; top: 50%; left: 24%; margin: 0; text-align: center">
        No chats found
      </h4>
      <p style="color: black; position: absolute; top: 58%; left: 10%; margin-top: 40px;">
        Looks like you haven't initiated<br>
        a conversation with any of<br>
        our bands or musicians
      </p>
    </div>
  <% end %>
</div>
