<div class="photo-container text-center">
  <h1 class="banner-text">BandFinder</h1>
  <h2 class="banner-subtext">Discover all the bands</h2>
</div>
<div class="container" data-controller="toggleswitch">

  <!-- Search bar and toggle in one line -->
  <div class="d-flex flex-column">

    <!-- Toggle Section -->
    <div class="switch-container d-flex justify-content-center align-items-center mt-4" style="gap: 10px;">
      <span class="label-left" data-toggleswitch-target="labelLeft">Musician looking for a band</span>
      <label class="switch">
      <input type="checkbox" data-toggleswitch-target="toggleSwitch" data-action="change->toggleswitch#toggleContent">
          <span class="slider round" data-toggleswitch-target="slider"></span>
      </label>
      <span class="label-right" data-toggleswitch-target="labelRight">Band looking for a musician</span>
      <button class="map-list-button btn"
              data-toggleswitch-target="changeViewButton"
              data-action="click->toggleswitch#changeStatus">
        List View
      </button>

    </div>

    <!-- Search bar Section -->
    <div class="filter-container">
      <%= form_with url: search_path, method: :get, local: true, class: "d-flex align-items-center w-100" do |form| %>
        <% if @button_state %>
          <%= hidden_field_tag :form_type, "user_search", data: { toggleswitch_target: "formStatus" } %>
        <% else %>
          <%= hidden_field_tag :form_type, "band_search", data: { toggleswitch_target: "formStatus" } %>
        <% end %>

        <!-- Band Form Section -->
        <div data-toggleswitch-target="bandForm" class="d-flex align-items-center <%= "d-none" if @button_state %>" style="gap: 10px;">
          <div class="search-input">
            <input type="text" id="address-filter" name="band_address" placeholder="Search location" class="form-control filter-input">
          </div>
          <div class="dropdown" id="genre-filter">
            <button class="dropbtn-genre">Select Genre</button>
            <div class="dropdown-content">
              <label><input type="checkbox" name="genre[]" value="Acapella"> Acapella</label>
              <label><input type="checkbox" name="genre[]" value="Alternative"> Alternative</label>
              <label><input type="checkbox" name="genre[]" value="Blues"> Blues</label>
              <label><input type="checkbox" name="genre[]" value="Classical"> Classical</label>
              <label><input type="checkbox" name="genre[]" value="Country"> Country</label>
              <label><input type="checkbox" name="genre[]" value="Dance"> Dance</label>
              <label><input type="checkbox" name="genre[]" value="Disco"> Disco</label>
              <label><input type="checkbox" name="genre[]" value="Electronic"> Electronic</label>
              <label><input type="checkbox" name="genre[]" value="Folk"> Folk</label>
              <label><input type="checkbox" name="genre[]" value="Gospel"> Gospel</label>
              <label><input type="checkbox" name="genre[]" value="Hip Hop"> Hip Hop</label>
              <label><input type="checkbox" name="genre[]" value="Indie"> Indie</label>
              <label><input type="checkbox" name="genre[]" value="Jazz"> Jazz</label>
              <label><input type="checkbox" name="genre[]" value="Latin"> Latin</label>
              <label><input type="checkbox" name="genre[]" value="Metal"> Metal</label>
              <label><input type="checkbox" name="genre[]" value="Pop"> Pop</label>
              <label><input type="checkbox" name="genre[]" value="Punk"> Punk</label>
              <label><input type="checkbox" name="genre[]" value="Rap"> Rap</label>
              <label><input type="checkbox" name="genre[]" value="Reggae"> Reggae</label>
              <label><input type="checkbox" name="genre[]" value="Rock"> Rock</label>
              <label><input type="checkbox" name="genre[]" value="R&B"> R&B</label>
              <label><input type="checkbox" name="genre[]" value="Soul"> Soul</label>
              <label><input type="checkbox" name="genre[]" value="Techno"> Techno</label>
              <label><input type="checkbox" name="genre[]" value="Trance"> Trance</label>
              <label><input type="checkbox" name="genre[]" value="World"> World</label>
              <label><input type="checkbox" name="genre[]" value="Swing"> Swing</label>
              <label><input type="checkbox" name="genre[]" value="Hard Rock"> Hard Rock</label>
              <label><input type="checkbox" name="genre[]" value="Progressive Rock"> Progressive Rock</label>
              <label><input type="checkbox" name="genre[]" value="New Age"> New Age</label>
              <label><input type="checkbox" name="genre[]" value="House"> House</label>
              <label><input type="checkbox" name="genre[]" value="Grunge"> Grunge</label>
              <label><input type="checkbox" name="genre[]" value="Ska"> Ska</label>
              <label><input type="checkbox" name="genre[]" value="Emo"> Emo</label>
              <label><input type="checkbox" name="genre[]" value="Industrial"> Industrial</label>
              <label><input type="checkbox" name="genre[]" value="Soundtrack"> Soundtrack</label>
              <label><input type="checkbox" name="genre[]" value="Dubstep"> Dubstep</label>
              <label><input type="checkbox" name="genre[]" value="Lo-fi"> Lo-fi</label>
            </div>
          </div>

          <div class="search-input">
            <div class="dropdown" name="searching_for_instruments" id="instruments-filter">
              <button class="dropbtn-instrument">Select Instruments</button>
              <div class="dropdown-content" id="dropdown-content">
                      <label><input type="checkbox" name="search_instruments[]" value="Accordion"> Accordion</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Agogo"> Agogo</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Alto Saxophone"> Saxophone (Alto)</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Autoharp"> Autoharp</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Bagpipes"> Bagpipes</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Banjos"> Banjo</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Bass"> Bass</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Bass Clarinet"> Bass Clarinet</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Bass Drum"> Bass Drum</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Bassoon"> Bassoon</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Cajon"> Cajon</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Castanets"> Castanets</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Cello"> Cello</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Clarinet"> Clarinet</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Claves"> Claves</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Conga"> Conga</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Cornet"> Cornet</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Cowbell"> Cowbell</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Djembe"> Djembe</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Didgeridoo"> Didgeridoo</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Drum Machine"> Drum Machine</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Drums"> Drums</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Duduk"> Duduk</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Electric Bass"> Electric Bass</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Electric Guitar"> Electric Guitar</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Electric Keyboard"> Electric Keyboard</label>
                      <label><input type="checkbox" name="search_instruments[]" value="English Horn"> English Horn</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Erhu"> Erhu</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Flute"> Flute</label>
                      <label><input type="checkbox" name="search_instruments[]" value="French Horn"> French Horn</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Glockenspiel"> Glockenspiel</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Guitar"> Guitar</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Guiro"> Guiro</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Harp"> Harp</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Hurdy Gurdy"> Hurdy Gurdy</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Jew's Harp"> Jew's Harp</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Kazoo"> Kazoo</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Koto"> Koto</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Kalimba"> Kalimba</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Mandolin"> Mandolin</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Maracas"> Maracas</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Marimba"> Marimba</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Melodica"> Melodica</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Mountain Dulcimer"> Mountain Dulcimer</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Oboe"> Oboe</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Piano"> Piano</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Pan Flute"> Pan Flute</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Percussion"> Percussion</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Piccolo"> Piccolo</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Recorder"> Recorder</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Saxophone"> Saxophone</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Saxophone (Baritone)"> Saxophone (Baritone)</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Saxophone (Tenor)"> Saxophone (Tenor)</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Shakuhachi"> Shakuhachi</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Steel Drum"> Steel Drum</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Sitar"> Sitar</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Synthesizer (Analog)"> Synthesizer (Analog)</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Synthesizer (Digital)"> Synthesizer (Digital)</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Tambourine"> Tambourine</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Timpani"> Timpani</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Triangle"> Triangle</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Trumpet"> Trumpet</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Trombone"> Trombone</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Tuba"> Tuba</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Ukulele"> Ukulele</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Vibraphone"> Vibraphone</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Viola"> Viola</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Violin"> Violin</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Wooden Flute"> Wooden Flute</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Xylophone"> Xylophone</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Zither"> Zither</label>

                  </div>
              </div>
          </div>
          <div class="search-input">
            <button type="submit" class="filter-button btn btn-primary">Search</button>
          </div>
        </div>

        <!-- User Form Section -->
        <div data-toggleswitch-target="userForm" class="d-flex align-items-center <%= "d-none" if !@button_state %>" style="gap: 10px;">
          <%= hidden_field_tag :state, "#{ @button_state ? "on" : "off" }", data: { toggleswitch_target: "status" } %>
          <div class="search-input">
            <input type="text" id="first-name-filter" name="first_name" placeholder="First Name" class="form-control filter-input">
          </div>
          <div class="search-input">
            <input type="text" id="last-name-filter" name="last_name" placeholder="Last Name" class="form-control filter-input">
          </div>
          <div class="search-input">
            <input type="text" id="location-filter" name="address" placeholder="Location" class="form-control filter-input">
          </div>
          <div class="search-input">
            <div class="dropdown" name="instruments" id="instruments-filter">
              <button  class="dropbtn-instrument">Select Instruments</button>
              <div class="dropdown-content" id="dropdown-content">
                <label><input type="checkbox" name="instruments[]" value="Accordion"> Accordion</label>
                <label><input type="checkbox" name="instruments[]" value="Agogo"> Agogo</label>
                <label><input type="checkbox" name="instruments[]" value="Alto Saxophone"> Saxophone (Alto)</label>
                <label><input type="checkbox" name="instruments[]" value="Autoharp"> Autoharp</label>
                <label><input type="checkbox" name="instruments[]" value="Bagpipes"> Bagpipes</label>
                <label><input type="checkbox" name="instruments[]" value="Banjos"> Banjo</label>
                <label><input type="checkbox" name="instruments[]" value="Bass"> Bass</label>
                <label><input type="checkbox" name="instruments[]" value="Bass Clarinet"> Bass Clarinet</label>
                <label><input type="checkbox" name="instruments[]" value="Bass Drum"> Bass Drum</label>
                <label><input type="checkbox" name="instruments[]" value="Bassoon"> Bassoon</label>
                <label><input type="checkbox" name="instruments[]" value="Cajon"> Cajon</label>
                <label><input type="checkbox" name="instruments[]" value="Castanets"> Castanets</label>
                <label><input type="checkbox" name="instruments[]" value="Cello"> Cello</label>
                <label><input type="checkbox" name="instruments[]" value="Clarinet"> Clarinet</label>
                <label><input type="checkbox" name="instruments[]" value="Claves"> Claves</label>
                <label><input type="checkbox" name="instruments[]" value="Conga"> Conga</label>
                <label><input type="checkbox" name="instruments[]" value="Cornet"> Cornet</label>
                <label><input type="checkbox" name="instruments[]" value="Cowbell"> Cowbell</label>
                <label><input type="checkbox" name="instruments[]" value="Djembe"> Djembe</label>
                <label><input type="checkbox" name="instruments[]" value="Didgeridoo"> Didgeridoo</label>
                <label><input type="checkbox" name="instruments[]" value="Drum Machine"> Drum Machine</label>
                <label><input type="checkbox" name="instruments[]" value="Drums"> Drums</label>
                <label><input type="checkbox" name="instruments[]" value="Duduk"> Duduk</label>
                <label><input type="checkbox" name="instruments[]" value="Electric Bass"> Electric Bass</label>
                <label><input type="checkbox" name="instruments[]" value="Electric Guitar"> Electric Guitar</label>
                <label><input type="checkbox" name="instruments[]" value="Electric Keyboard"> Electric Keyboard</label>
                <label><input type="checkbox" name="instruments[]" value="English Horn"> English Horn</label>
                <label><input type="checkbox" name="instruments[]" value="Erhu"> Erhu</label>
                <label><input type="checkbox" name="instruments[]" value="Flute"> Flute</label>
                <label><input type="checkbox" name="instruments[]" value="French Horn"> French Horn</label>
                <label><input type="checkbox" name="instruments[]" value="Glockenspiel"> Glockenspiel</label>
                <label><input type="checkbox" name="instruments[]" value="Guitar"> Guitar</label>
                <label><input type="checkbox" name="instruments[]" value="Guiro"> Guiro</label>
                <label><input type="checkbox" name="instruments[]" value="Harp"> Harp</label>
                <label><input type="checkbox" name="instruments[]" value="Hurdy Gurdy"> Hurdy Gurdy</label>
                <label><input type="checkbox" name="instruments[]" value="Jew's Harp"> Jew's Harp</label>
                <label><input type="checkbox" name="instruments[]" value="Kazoo"> Kazoo</label>
                <label><input type="checkbox" name="instruments[]" value="Koto"> Koto</label>
                <label><input type="checkbox" name="instruments[]" value="Kalimba"> Kalimba</label>
                <label><input type="checkbox" name="instruments[]" value="Mandolin"> Mandolin</label>
                <label><input type="checkbox" name="instruments[]" value="Maracas"> Maracas</label>
                <label><input type="checkbox" name="instruments[]" value="Marimba"> Marimba</label>
                <label><input type="checkbox" name="instruments[]" value="Melodica"> Melodica</label>
                <label><input type="checkbox" name="instruments[]" value="Mountain Dulcimer"> Mountain Dulcimer</label>
                <label><input type="checkbox" name="instruments[]" value="Oboe"> Oboe</label>
                <label><input type="checkbox" name="instruments[]" value="Piano"> Piano</label>
                <label><input type="checkbox" name="instruments[]" value="Pan Flute"> Pan Flute</label>
                <label><input type="checkbox" name="instruments[]" value="Percussion"> Percussion</label>
                <label><input type="checkbox" name="instruments[]" value="Piccolo"> Piccolo</label>
                <label><input type="checkbox" name="instruments[]" value="Recorder"> Recorder</label>
                <label><input type="checkbox" name="search_instruments[]" value="Saxophone"> Saxophone</label>
                <label><input type="checkbox" name="instruments[]" value="Saxophone (Baritone)"> Saxophone (Baritone)</label>
                <label><input type="checkbox" name="instruments[]" value="Saxophone (Tenor)"> Saxophone (Tenor)</label>
                <label><input type="checkbox" name="instruments[]" value="Shakuhachi"> Shakuhachi</label>
                <label><input type="checkbox" name="instruments[]" value="Steel Drum"> Steel Drum</label>
                <label><input type="checkbox" name="instruments[]" value="Sitar"> Sitar</label>
                <label><input type="checkbox" name="instruments[]" value="Synthesizer (Analog)"> Synthesizer (Analog)</label>
                <label><input type="checkbox" name="instruments[]" value="Synthesizer (Digital)"> Synthesizer (Digital)</label>
                <label><input type="checkbox" name="instruments[]" value="Tambourine"> Tambourine</label>
                <label><input type="checkbox" name="instruments[]" value="Timpani"> Timpani</label>
                <label><input type="checkbox" name="instruments[]" value="Triangle"> Triangle</label>
                <label><input type="checkbox" name="instruments[]" value="Trumpet"> Trumpet</label>
                <label><input type="checkbox" name="instruments[]" value="Trombone"> Trombone</label>
                <label><input type="checkbox" name="instruments[]" value="Tuba"> Tuba</label>
                <label><input type="checkbox" name="instruments[]" value="Ukulele"> Ukulele</label>
                <label><input type="checkbox" name="instruments[]" value="Vibraphone"> Vibraphone</label>
                <label><input type="checkbox" name="instruments[]" value="Viola"> Viola</label>
                <label><input type="checkbox" name="instruments[]" value="Violin"> Violin</label>
                <label><input type="checkbox" name="instruments[]" value="Wooden Flute"> Wooden Flute</label>
                <label><input type="checkbox" name="instruments[]" value="Xylophone"> Xylophone</label>
                <label><input type="checkbox" name="instruments[]" value="Zither"> Zither</label>
              </div>
            </div>
          </div>
          <div class="search-input">
            <button type="submit" class="filter-button btn btn-primary">Search</button>
          </div>
        </div>
      <% end %>
    </div>


  </div>

  <div class="row mt-4">
    <div data-toggleswitch-target="indexArea" class="d-flex flex-wrap d-none">
      <div data-toggleswitch-target="bandIndex" class="container">
        <h2 class="section-title text-center mb-4">Band List</h2>
        <div class="bands-grid">
          <% @bands.each do |band| %>
            <%= link_to band_path(band), class: "band-list-card" do %>
              <div class="list-image-container">
                <% if band.photo.attached? %>
                  <%= image_tag band.photo, alt: "#{band.title}", class: "band-list-image" %>
                <% else %>
                  <%= image_tag "default-profile-image.jpg", alt: "default profile image", class: "placeholder-image-band-list" %>
                <% end %>
              </div>
              <div class="band-list-card-body">
                <div class="band-title-container">
                  <h5 class="band-list-title"><%= band.title %></h5>
                  <i class="fas fa-arrow-right more-icon-band"></i>
                </div>
                <p class="band-list-description"><%= band.description %></p>
                <div class="card-footer">
                  <small class="band-list-genre">Genre: <%= band.genre %></small>
                  <span class="separator"> | </span>
                  <small class="band-leader">Leader: <%= band.leader.first_name %> </small>
                  <span class="separator"> | </span>
                  <small class="band-members-count">Members: <%= band.members.count %></small>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div data-toggleswitch-target="userIndexArea" class="d-flex flex-wrap">
        <div data-toggleswitch-target="userIndex" class="container">
          <h2 class="section-title text-center mb-4">User List</h2>
          <div class="users-grid">
            <% @users.each do |user| %>
              <%= link_to user_path(user), class: "user-list-card" do %>
                <div class="list-image-container">
                  <% if user.photo.attached? %>
                    <%= image_tag user.photo, alt: "#{user.first_name}", class: "user-list-image" %>
                  <% else %>
                    <%= image_tag "default-profile-image.jpg", alt: "default profile image", class: "placeholder-image-user-list" %>
                  <% end %>
                </div>
                <div class="user-list-card-body">
                  <div class="user-title-container">
                    <h5 class="user-list-title"><%= user.first_name %> <%= user.last_name %></h5>
                    <i class="fas fa-arrow-right more-icon-user"></i>
                  </div>
                  <p class="user-list-instruments">
                    Role: <%= user.instruments.join(", ") %>
                  </p>
                  <div class="card-footer">
                    <small class="user-list-address"><i class="fas fa-map-marker-alt"></i> <%= user.address.split(',').last %></small>
                    <span class="separator"> | </span>
                    <% if user.band.present? %>
                      <small class="band-leader">
                        <%= user.leads_band? ? "Band Leader" : "Band Member" %>
                      </small>
                      <span class="separator"> | </span>
                      <small class="band-members-count">Band: <%= user.band.title %></small>
                    <% else %>
                      <small class="band-leader">No Band</small>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div data-toggleswitch-target="changedArea" class="d-flex flex-wrap">
      <div class="col-8">
        <div class="cards-container">
          <!-- Band Cards -->
          <div data-toggleswitch-target="bandCard" class="card-group <%= "d-none" if @button_state %>">
            <% @bands.each do |band| %>
              <%= render partial: "bands/band_card", locals: { band: band } %>
            <% end %>
          </div>

          <!-- User Cards -->
          <div data-toggleswitch-target="userCard" class="card-group <%= "d-none" if !@button_state %>">
            <% @users.each do |user| %>
              <%= render partial: "users/user_card", locals: { user: user } %>
            <% end %>
          </div>

        </div>
      </div>

      <!-- Map Section -->
      <!-- Map Section -->
      <div class="col-4 sticky-top" style="top: 20px; height: calc(100vh - 20px);" data-toggleswitch-target="myMarker">
        <div style="width: 120%; height: 100vh; border-radius: 5px"
          data-controller="map"
          data-toggleswitch-target="mapContainer"
          data-map-usermarkers-value="<%= @user_markers.to_json %>"
          data-map-bandmarkers-value="<%= @band_markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          <button data-action="click->map#toggleMarkers" data-toggleswitch-target="toggleMarkers">
            Toggle Markers
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
