<div class="photo-container text-center">
  <h1>BandFinder</h1>
</div>

<div class="container" data-controller="toggleswitch">
  <h2 class="text-center mt-3">Discover all the bands</h2>

  <div class="switch-container mt-3 d-flex justify-content-center align-items-center" style="gap: 10px;">
      <span class="label-left" data-toggleswitch-target="labelLeft">Musician looking for a band</span>
      <label class="switch">
      <input type="checkbox" data-toggleswitch-target="toggleSwitch" data-action="change->toggleswitch#toggleContent" <%= "checked" if @button_state %>>
          <span class="slider round" data-toggleswitch-target="slider"></span>
      </label>
      <span class="label-right" data-toggleswitch-target="labelRight">Band looking for a musician</span>
      <button class="h-25 btn btn-secondary"
          data-toggleswitch-target="changeViewButton"
          data-action="click->toggleswitch#changeStatus">
          List View
      </button>
  </div>


  <div class="row mt-4">
    <div class="filter-container mb-4">
      <%= form_with url: search_path, method: :get, local: true, class: "d-flex align-items-center w-100" do |form| %>
        <% if @button_state %>
          <%= hidden_field_tag :form_type, "user_search", data: { toggleswitch_target: "formStatus" } %>
        <% else %>
          <%= hidden_field_tag :form_type, "band_search", data: { toggleswitch_target: "formStatus" } %>
        <% end %>

        <!-- Band Form Section -->
        <div data-toggleswitch-target="bandForm" class="d-flex align-items-center <%= "d-none" if @button_state %>" style="gap: 10px;">
          <div class="search-input">
            <input type="text" id="address-filter" name="band_address" placeholder="Search location" class="form-control filter-input">
          </div>
          <div class="search-input">
              <select id="genre-filter" name="genre" class="form-control filter-input">
                  <option value="">Select a Genre</option>
                  <option value="acapella">Acapella</option>
                  <option value="alternative">Alternative</option>
                  <option value="blues">Blues</option>
                  <option value="classical">Classical</option>
                  <option value="country">Country</option>
                  <option value="dance">Dance</option>
                  <option value="disco">Disco</option>
                  <option value="electronic">Electronic</option>
                  <option value="folk">Folk</option>
                  <option value="gospel">Gospel</option>
                  <option value="hip-hop">Hip Hop</option>
                  <option value="indie">Indie</option>
                  <option value="jazz">Jazz</option>
                  <option value="latin">Latin</option>
                  <option value="metal">Metal</option>
                  <option value="pop">Pop</option>
                  <option value="punk">Punk</option>
                  <option value="rap">Rap</option>
                  <option value="reggae">Reggae</option>
                  <option value="rock">Rock</option>
                  <option value="r&b">R&B</option>
                  <option value="soul">Soul</option>
                  <option value="techno">Techno</option>
                  <option value="trance">Trance</option>
                  <option value="world">World</option>
                  <option value="swing">Swing</option>
                  <option value="hard rock">Hard Rock</option>
                  <option value="progressive rock">Progressive Rock</option>
                  <option value="new age">New Age</option>
                  <option value="house">House</option>
                  <option value="grunge">Grunge</option>
                  <option value="ska">Ska</option>
                  <option value="emo">Emo</option>
                  <option value="industrial">Industrial</option>
                  <option value="soundtrack">Soundtrack</option>
                  <option value="dubstep">Dubstep</option>
                  <option value="lo-fi">Lo-fi</option>
              </select>
          </div>
          <div class="search-input">
            <div class="dropdown" name="searching_for_instruments" id="instruments-filter">
              <button class="dropbtn">Select Instruments</button>
              <div class="dropdown-content" id="dropdown-content">
                      <label><input type="checkbox" name="search_instruments[]" value="Accordion"> Accordion</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Agogo"> Agogo</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Alto Saxophone"> Saxophone (Alto)</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Autoharp"> Autoharp</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Bagpipes"> Bagpipes</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Banjos"> Banjo</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Bass"> Bass</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Bass Clarinet"> Bass Clarinet</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Bass Drum"> Bass Drum</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Bassoon"> Bassoon</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Cajon"> Cajon</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Castanets"> Castanets</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Cello"> Cello</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Clarinet"> Clarinet</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Claves"> Claves</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Conga"> Conga</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Cornet"> Cornet</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Cowbell"> Cowbell</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Djembe"> Djembe</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Didgeridoo"> Didgeridoo</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Drum Machine"> Drum Machine</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Drums"> Drums</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Duduk"> Duduk</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Electric Bass"> Electric Bass</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Electric Guitar"> Electric Guitar</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Electric Keyboard"> Electric Keyboard</label>
                      <label><input type="checkbox" name="search_instruments[]" value="English Horn"> English Horn</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Erhu"> Erhu</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Flute"> Flute</label>
                      <label><input type="checkbox" name="search_instruments[]" value="French Horn"> French Horn</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Glockenspiel"> Glockenspiel</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Guitar"> Guitar</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Guiro"> Guiro</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Harp"> Harp</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Hurdy Gurdy"> Hurdy Gurdy</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Jew's Harp"> Jew's Harp</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Kazoo"> Kazoo</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Koto"> Koto</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Kalimba"> Kalimba</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Mandolin"> Mandolin</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Maracas"> Maracas</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Marimba"> Marimba</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Melodica"> Melodica</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Mountain Dulcimer"> Mountain Dulcimer</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Oboe"> Oboe</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Piano"> Piano</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Pan Flute"> Pan Flute</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Percussion"> Percussion</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Piccolo"> Piccolo</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Recorder"> Recorder</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Saxophone"> Saxophone</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Saxophone (Baritone)"> Saxophone (Baritone)</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Saxophone (Tenor)"> Saxophone (Tenor)</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Shakuhachi"> Shakuhachi</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Steel Drum"> Steel Drum</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Sitar"> Sitar</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Synthesizer (Analog)"> Synthesizer (Analog)</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Synthesizer (Digital)"> Synthesizer (Digital)</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Tambourine"> Tambourine</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Timpani"> Timpani</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Triangle"> Triangle</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Trumpet"> Trumpet</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Trombone"> Trombone</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Tuba"> Tuba</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Ukulele"> Ukulele</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Vibraphone"> Vibraphone</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Viola"> Viola</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Violin"> Violin</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Wooden Flute"> Wooden Flute</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Xylophone"> Xylophone</label>
                      <label><input type="checkbox" name="search_instruments[]" value="Zither"> Zither</label>

                  </div>
              </div>
          </div>
          <div class="search-input">
            <button type="submit" class="filter-button btn btn-primary">Search</button>
          </div>
        </div>

        <!-- User Form Section -->
        <div data-toggleswitch-target="userForm" class="d-flex align-items-center <%= "d-none" if !@button_state %>" style="gap: 10px;">
          <%= hidden_field_tag :state, "#{ @button_state ? "on" : "off" }", data: { toggleswitch_target: "status" } %>
          <div class="search-input">
            <input type="text" id="first-name-filter" name="first_name" placeholder="First Name" class="form-control filter-input">
          </div>
          <div class="search-input">
            <input type="text" id="last-name-filter" name="last_name" placeholder="Last Name" class="form-control filter-input">
          </div>
          <div class="search-input">
            <input type="text" id="location-filter" name="address" placeholder="Location" class="form-control filter-input">
          </div>
           <div class="search-input">
            <div class="dropdown" name="instruments" id="instruments-filter">
              <button class="dropbtn">Select Instruments</button>
              <div class="dropdown-content" id="dropdown-content">
                <label><input type="checkbox" name="instruments[]" value="Accordion"> Accordion</label>
                <label><input type="checkbox" name="instruments[]" value="Agogo"> Agogo</label>
                <label><input type="checkbox" name="instruments[]" value="Alto Saxophone"> Saxophone (Alto)</label>
                <label><input type="checkbox" name="instruments[]" value="Autoharp"> Autoharp</label>
                <label><input type="checkbox" name="instruments[]" value="Bagpipes"> Bagpipes</label>
                <label><input type="checkbox" name="instruments[]" value="Banjos"> Banjo</label>
                <label><input type="checkbox" name="instruments[]" value="Bass"> Bass</label>
                <label><input type="checkbox" name="instruments[]" value="Bass Clarinet"> Bass Clarinet</label>
                <label><input type="checkbox" name="instruments[]" value="Bass Drum"> Bass Drum</label>
                <label><input type="checkbox" name="instruments[]" value="Bassoon"> Bassoon</label>
                <label><input type="checkbox" name="instruments[]" value="Cajon"> Cajon</label>
                <label><input type="checkbox" name="instruments[]" value="Castanets"> Castanets</label>
                <label><input type="checkbox" name="instruments[]" value="Cello"> Cello</label>
                <label><input type="checkbox" name="instruments[]" value="Clarinet"> Clarinet</label>
                <label><input type="checkbox" name="instruments[]" value="Claves"> Claves</label>
                <label><input type="checkbox" name="instruments[]" value="Conga"> Conga</label>
                <label><input type="checkbox" name="instruments[]" value="Cornet"> Cornet</label>
                <label><input type="checkbox" name="instruments[]" value="Cowbell"> Cowbell</label>
                <label><input type="checkbox" name="instruments[]" value="Djembe"> Djembe</label>
                <label><input type="checkbox" name="instruments[]" value="Didgeridoo"> Didgeridoo</label>
                <label><input type="checkbox" name="instruments[]" value="Drum Machine"> Drum Machine</label>
                <label><input type="checkbox" name="instruments[]" value="Drums"> Drums</label>
                <label><input type="checkbox" name="instruments[]" value="Duduk"> Duduk</label>
                <label><input type="checkbox" name="instruments[]" value="Electric Bass"> Electric Bass</label>
                <label><input type="checkbox" name="instruments[]" value="Electric Guitar"> Electric Guitar</label>
                <label><input type="checkbox" name="instruments[]" value="Electric Keyboard"> Electric Keyboard</label>
                <label><input type="checkbox" name="instruments[]" value="English Horn"> English Horn</label>
                <label><input type="checkbox" name="instruments[]" value="Erhu"> Erhu</label>
                <label><input type="checkbox" name="instruments[]" value="Flute"> Flute</label>
                <label><input type="checkbox" name="instruments[]" value="French Horn"> French Horn</label>
                <label><input type="checkbox" name="instruments[]" value="Glockenspiel"> Glockenspiel</label>
                <label><input type="checkbox" name="instruments[]" value="Guitar"> Guitar</label>
                <label><input type="checkbox" name="instruments[]" value="Guiro"> Guiro</label>
                <label><input type="checkbox" name="instruments[]" value="Harp"> Harp</label>
                <label><input type="checkbox" name="instruments[]" value="Hurdy Gurdy"> Hurdy Gurdy</label>
                <label><input type="checkbox" name="instruments[]" value="Jew's Harp"> Jew's Harp</label>
                <label><input type="checkbox" name="instruments[]" value="Kazoo"> Kazoo</label>
                <label><input type="checkbox" name="instruments[]" value="Koto"> Koto</label>
                <label><input type="checkbox" name="instruments[]" value="Kalimba"> Kalimba</label>
                <label><input type="checkbox" name="instruments[]" value="Mandolin"> Mandolin</label>
                <label><input type="checkbox" name="instruments[]" value="Maracas"> Maracas</label>
                <label><input type="checkbox" name="instruments[]" value="Marimba"> Marimba</label>
                <label><input type="checkbox" name="instruments[]" value="Melodica"> Melodica</label>
                <label><input type="checkbox" name="instruments[]" value="Mountain Dulcimer"> Mountain Dulcimer</label>
                <label><input type="checkbox" name="instruments[]" value="Oboe"> Oboe</label>
                <label><input type="checkbox" name="instruments[]" value="Piano"> Piano</label>
                <label><input type="checkbox" name="instruments[]" value="Pan Flute"> Pan Flute</label>
                <label><input type="checkbox" name="instruments[]" value="Percussion"> Percussion</label>
                <label><input type="checkbox" name="instruments[]" value="Piccolo"> Piccolo</label>
                <label><input type="checkbox" name="instruments[]" value="Recorder"> Recorder</label>
                <label><input type="checkbox" name="search_instruments[]" value="Saxophone"> Saxophone</label>
                <label><input type="checkbox" name="instruments[]" value="Saxophone (Baritone)"> Saxophone (Baritone)</label>
                <label><input type="checkbox" name="instruments[]" value="Saxophone (Tenor)"> Saxophone (Tenor)</label>
                <label><input type="checkbox" name="instruments[]" value="Shakuhachi"> Shakuhachi</label>
                <label><input type="checkbox" name="instruments[]" value="Steel Drum"> Steel Drum</label>
                <label><input type="checkbox" name="instruments[]" value="Sitar"> Sitar</label>
                <label><input type="checkbox" name="instruments[]" value="Synthesizer (Analog)"> Synthesizer (Analog)</label>
                <label><input type="checkbox" name="instruments[]" value="Synthesizer (Digital)"> Synthesizer (Digital)</label>
                <label><input type="checkbox" name="instruments[]" value="Tambourine"> Tambourine</label>
                <label><input type="checkbox" name="instruments[]" value="Timpani"> Timpani</label>
                <label><input type="checkbox" name="instruments[]" value="Triangle"> Triangle</label>
                <label><input type="checkbox" name="instruments[]" value="Trumpet"> Trumpet</label>
                <label><input type="checkbox" name="instruments[]" value="Trombone"> Trombone</label>
                <label><input type="checkbox" name="instruments[]" value="Tuba"> Tuba</label>
                <label><input type="checkbox" name="instruments[]" value="Ukulele"> Ukulele</label>
                <label><input type="checkbox" name="instruments[]" value="Vibraphone"> Vibraphone</label>
                <label><input type="checkbox" name="instruments[]" value="Viola"> Viola</label>
                <label><input type="checkbox" name="instruments[]" value="Violin"> Violin</label>
                <label><input type="checkbox" name="instruments[]" value="Wooden Flute"> Wooden Flute</label>
                <label><input type="checkbox" name="instruments[]" value="Xylophone"> Xylophone</label>
                <label><input type="checkbox" name="instruments[]" value="Zither"> Zither</label>
              </div>
            </div>
          </div>
          <div class="search-input">
            <button type="submit" class="filter-button btn btn-primary">Search</button>
          </div>
        </div>
      <% end %>
    </div>

    <div data-toggleswitch-target="indexArea" class="d-flex flex-wrap d-none">
      <div data-toggleswitch-target="bandIndex" class="container">

        <h2 class=" text-center mb-4">Band List</h2>
        <% @bands.each do |band| %>
          <%= link_to band_path(band) do %>

            <div class="row mb-3">
              <div class="col-2 d-flex">
                <div class="p-2 justify-content-center">
                  <% if band.photo.attached? %>
                    <%= image_tag band.photo, alt: "#{band.title}", class:"rounded-image" %>
                  <% else %>
                    <%= image_tag "default-profile-image.jpg", alt: "default profile image", class:"rounded-image" %>
                  <% end %>
                </div>
              </div>

              <div class="col-8 p-3 d-flex ">
                <div class="card shadow-sm fixed-width-card">
                  <div class="card-body">
                    <h5 class="card-title text-primary"><%= band.title %></h5>
                    <p class="card-text"><%= band.description %></p>
                  </div>
                  <div class="card-footer text-muted">
                    <small>Genre: <%= band.genre %></small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div data-toggleswitch-target="userIndex" class="d-none container">
        <h2 class="text-center mb-4">User List</h2>
       <% @users.each do |user| %>
          <%= link_to user_path(user) do %>

            <div class="row mb-3">
              <div class="col-2 d-flex">
                <div class="p-2 justify-content-center">
                  <% if user.photo.attached? %>
                    <%= image_tag user.photo, alt: "#{user.first_name}", class:"rounded-image" %>
                  <% else %>
                    <%= image_tag "default-profile-image.jpg", alt: "default profile image", class:"rounded-image" %>
                  <% end %>
                </div>
              </div>

              <div class="col-8 p-3 d-flex ">
                <div class="card shadow-sm fixed-width-card">
                  <div class="card-body">

                    <h5 class="card-title text-primary"><%= user.first_name %> <%= user.last_name %></h5>
                    <p class="card-text">
                      <strong>Address:</strong> <%= user.address %><br>
                     <strong>Instruments:</strong>
                     <%= user.instruments.join(", ")%>
                    </p>

                  </div>

                </div>
              </div>
            </div>
          <% end %>
      <% end %>

      </div>
    </div>

    <div data-toggleswitch-target="changedArea" class="d-flex flex-wrap">
      <div class="col-8">
        <div class="cards-container">
          <!-- Band Cards -->
          <div data-toggleswitch-target="bandCard" class="card-group <%= "d-none" if @button_state %>">
            <% @bands.each do |band| %>
              <%= render partial: "bands/band_card", locals: { band: band } %>
            <% end %>
          </div>

          <!-- User Cards -->
          <div data-toggleswitch-target="userCard" class="card-group container <%= "d-none" if !@button_state %>">
            <div class="row w-100">
              <% @users.each do |user| %>
                <div class="col-4 p-4">
                  <%= render partial: "users/user_card", locals: { user: user } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Map Section -->
      <div class="col-4" data-toggleswitch-target="myMarker">
        <div style="width: 600px; height: 100%; border-radius: 5px"
          data-controller="map"
          data-toggleswitch-target="mapContainer"
          data-map-usermarkers-value="<%= @user_markers.to_json %>"
          data-map-bandmarkers-value="<%= @band_markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          <button data-action="click->map#toggleMarkers" data-toggleswitch-target="toggleMarkers">
            Toggle Markers
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
