<div class="row g-3">
  <div class="col-md-4">
    <div class="band-card">
      <%= link_to band_path(band) do %>
        <div class="image-container">
          <% if band.photo.attached? %>
            <%= image_tag band.photo, alt: "#{band.title}", class: "band-image" %>
          <% else %>
            <%= image_tag "default-profile-image.jpg", alt: "default profile image", class: "band-image" %>
          <% end %>

          <!-- Info Icon mit Tooltip -->
          <div class="info-icon">
            <i class="fa fa-info-circle"></i>
            <div class="info-tooltip">
              <p><strong>Genre:</strong> <%= band.genre %></p>
              <p><strong>Members:</strong> <%= band.members.count %></p>
              <p><strong>Band Leader:</strong> <%= band.leader.first_name %> <%= band.leader.last_name %></p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="band-title"><%= band.title %></h5>
          <p class="band-location"><%= band.city_and_country %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
