<div class="container mt-5">
  <h1 class="text-center mb-4">Create a Band</h1>
  <%= simple_form_for(@band, html: { class: 'needs-validation' }) do |f| %>
    <div class="mb-3">
      <%= f.input :title, input_html: { class: 'form-control', placeholder: 'Band Title' }, label_html: { class: 'form-label' } %>
    </div>

    <div class="mb-3">
      <%= f.input :genre, input_html: { class: 'form-control', placeholder: 'Genre' }, label_html: { class: 'form-label' } %>
    </div>

    <div class="mb-3">
      <%= f.input :description, as: :text, input_html: { class: 'form-control', rows: 4, placeholder: 'Description of the band' }, label_html: { class: 'form-label' } %>
    </div>

    <div class="mb-3">
      <%= f.input :address, input_html: { class: 'form-control', placeholder: 'Location' }, label_html: { class: 'form-label' } %>
    </div>
    <div class="mb-3">
      <%= f.input :searching_for_instruments, as: :select,
                  collection: [
                    'Guitar', 'Bass', 'Violin', 'Viola', 'Cello', 'Double Bass', 'Harp', 'Mandolin', 'Banjo', 'Ukulele',
                    'Flute', 'Clarinet', 'Oboe', 'Bassoon', 'Piccolo', 'English Horn', 'Saxophone (Alto)',
                    'Saxophone (Tenor)', 'Saxophone (Baritone)', 'Recorder', 'Bass Clarinet',
                    'Trumpet', 'Trombone', 'French Horn', 'Tuba', 'Euphonium', 'Cornet', 'Baritone Horn',
                    'Drums', 'Snare Drum', 'Bass Drum', 'Cymbals', 'Timpani', 'Bongos', 'Conga', 'Djembe',
                    'Marimba', 'Xylophone', 'Vibraphone', 'Glockenspiel', 'Tambourine', 'Triangle', 'Castanets',
                    'Piano', 'Electric Keyboard', 'Synthesizer', 'Organ', 'Harpsichord', 'Accordion',
                    'Electric Guitar', 'Electric Bass', 'Theremin', 'Drum Machine', 'Samplers', 'Synthesizer (Analog)',
                    'Synthesizer (Digital)', 'Modular Synthesizer',
                    'Vocals (Soprano)', 'Vocals (Alto)', 'Vocals (Tenor)', 'Vocals (Baritone)', 'Vocals (Bass)',
                    'Sitar', 'Tabla', 'Dhol', 'Didgeridoo', 'Bagpipes', 'Shakuhachi', 'Kalimba', 'Erhu', 'Koto',
                    'Balalaika', 'Bouzouki', 'Steel Drum', 'Pan Flute', 'Duduk', 'Cimbalom', 'Ocarina', 'Guqin',
                    'Hurdy Gurdy', 'Jew\'s Harp', 'Zither', 'Autoharp', 'Hammered Dulcimer', 'Mountain Dulcimer',
                    'Kazoo', 'Melodica', 'Maracas', 'Claves', 'Cowbell', 'Guiro', 'Agogo'
                  ],
                  prompt: "Select an instrument",
                  input_html: { class: 'form-select'},
                  label_html: { class: 'form-label' } %>
    </div>

    <div class="text-center">
      <%= f.submit "Create the Band", class: "btn btn-primary btn-lg mt-3" %>
    </div>
  <% end %>
</div>
