<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path('band-banner.jpg') %>);"></div>
  <div>
    <div class="container profile_banner">
        <div class="mb-3">
        <% if @band.photo.attached? %>
          <%= image_tag @band.photo, alt: "#{@band.title}", class:"profile_image" %>
        <% else %>
          <%= image_tag "default-profile-image.jpg", alt: "default profile image", class:"profile_image" %>
        <% end %>
      </div>
      <div class="row border solid">
        <div class="col-3">
          <h2 class="m-3"><%= @band.title %></h2>
        </div>
        
    <!-- HUGO'S CODE -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Book session
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Book session</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="background: red;">
            <%= simple_form_for [@band, @band_session], data: { controller: 'datepicker' } do |f| %>
              <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" }, id: 'check-in' } %>
              <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, id: 'check-out' } %>
              <%= f.submit 'Schedule your band session' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- END OF HUGO'S CODE -->

  <% end %>
        <div class="col-9 text-end">
          <h4 class="m-3"> Created : <%= @band.created_at.strftime("%b %d, %Y") %> by <%= @band.leader.first_name %> <%= @band.leader.last_name %></h4>
        </div>
      </div>
    </div>
    <div class="row mt-4">

      <div class="gap-5">
        <div class="band_details_card fs-4 d-flex flex-column mb-4">

          <h2>Band Details</h2>
          <div class="p-2"><i class="fa-solid fa-location-dot"></i> <%= @band.address %></div>
          <div class="p-2"><i class="fa-solid fa-music"></i> <%= @band.genre %></div>
          <div class="p-2"><i class="fa-solid fa-circle-info"></i> <%= @band.description %></div>
          <div class="p-2">
            <i class="fa-solid fa-drum fs-3"></i>
            We are looking for:
            <% instruments = @band.searching_for_instruments
            begin
              formatted_instruments = JSON.parse(instruments).map(&:downcase).join(", ")
            rescue JSON::ParserError
              formatted_instruments = instruments
            end %>
            <%= formatted_instruments %>
          </div>

        </div>
        <div class="band_details_card fs-4 d-flex flex-column">
          <h2>Members</h2>
          <% @members.each do |member| %>
            <%= link_to user_path(member) do %>
            <%= member.first_name %> <%= member.last_name %>
            (  <% instruments = member.instruments
               begin
                formatted_instruments = JSON.parse(instruments).map(&:downcase).join(", ")
              rescue JSON::ParserError
                formatted_instruments = instruments
              end %>
              <%= formatted_instruments %>
            )
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="user-info mt-3">
    <% if @band.leader_id != current_user.id %>
      <% is_member_of_band = @band.members.exists?(current_user.id) %>
      <% if !is_member_of_band %>
        <% existing_chat = Chat.find_by(user_id: current_user.id, band_leader_id: @band.leader_id) %>

        <% if existing_chat %>
          <%= link_to 'Continue Chat', chat_path(existing_chat), class: 'btn btn-primary continue-chat-button' %>
        <% else %>
          <%= form_with url: band_chats_path(@band.id), method: :post, local: true do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :band_leader_id, value: @band.leader_id %>
          <%= form.submit "Start Chat", class: "btn btn-primary create-chat-button" %>
          <% end %>
        <% end %>
      <% else %>
        <p></p>
      <% end %>
    <% else %>
      <p></p>
    <% end %>
  </div>
</div>
