<div class="container">
  <h1><%= @band.title %></h1>
  <p><%= @band.description %></p>

  <!-- Button to message the band leader, only shown if current user is not the band leader -->
  <% if current_user != @band.leader %>
    <%= link_to 'Message the Band Leader', new_band_chat_path(@band), class: 'btn btn-primary mt-3' %>
  <% else %>
    <!-- HUGO'S CODE -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Book session
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Book session</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="background: red;">
            <%= simple_form_for [@band, @band_session], data: { controller: 'datepicker' } do |f| %>
              <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" }, id: 'check-in' } %>
              <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, id: 'check-out' } %>
              <%= f.submit 'Schedule your band session' %>
            <% end %>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- END OF HUGO'S CODE -->

  <% end %>
</div>
