<div class="container">
  <!-- Banner Section -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path('band-banner.jpg') %>);"></div>

  <div>
    <!-- Profile Banner -->
    <div class="container profile_banner">
      <div class="mb-3">
        <% if @band.photo.attached? %>
          <%= image_tag @band.photo, alt: "#{@band.title}", class: "profile_image" %>
        <% else %>
          <%= image_tag "default-profile-image.jpg", alt: "default profile image", class: "profile_image" %>
        <% end %>
      </div>

      <!-- Band Info Row -->
      <div class="row border solid">
        <div class="col-3">
          <h2 class="m-3"><%= @band.title %></h2>
        </div>
        <div class="col-9 text-end">
          <h4 class="m-3">Created: <%= @band.created_at.strftime("%b %d, %Y") %> by <%= @band.leader.first_name %> <%= @band.leader.last_name %></h4>
        </div>
      </div>
    </div> <!-- End Profile Banner -->

    <!-- Band Details Section -->
    <div class="row mt-4 d-flex justify-content-center">
      <div class="gap-5">
        <!-- Band Details Card -->
        <div class="band_details_card fs-4 d-flex flex-column mb-4">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-0">Band Details</h2>
            <div class="d-flex gap-3 ms-auto">
              <% if current_user == @band.leader %>
              <%= link_to edit_band_path(@band), class: "edit-band-icon" do %>
                <i class="fa-solid fa-pencil fs-4"></i>
              <% end %>
              <%= link_to band_path(@band), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this band?" }, class: "delete-icon" do %>
                <i class="fa-solid fa-trash fs-4 text-danger"></i>
              <% end %>
            <% end %>
            </div>
          </div>

          <div class="p-2 mt-3"><i class="fa-solid fa-location-dot"></i> <%= @band.address %></div>
          <div class="p-2"><i class="fa-solid fa-music"></i> <%= @band.genre %></div>
          <div class="p-2"><i class="fa-solid fa-circle-info"></i> <%= @band.description %></div>
          <div class="p-2">
            <i class="fa-solid fa-drum fs-3"></i> We are looking for:
            <%= @band.searching_for_instruments.join(", ") %>
          </div>
        </div> <!-- End Band Details Card -->

        <!-- Members Card -->
        <div class="band_details_card fs-4 d-flex flex-column">
          <h2>Members</h2>
         <% @members.each do |member| %>
          <%= link_to user_path(member), class: "member-link" do %>
            <%= member.first_name %> <%= member.last_name %>
            <% if !member.instruments.empty? %>
              (<%= member.instruments.join(", ") %> )
            <% end %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="user-info mt-3">
    <% if current_user != @band.leader %>
      <%= button_to 'Message Band Leader', chats_path(chat: { band_leader_id: @band.leader.id }), method: :post, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
