<div class="container">
  <!-- Banner Section -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path('band-banner.jpg') %>);"></div>
  <!-- Button to message the band leader, only shown if current user is not the band leader -->

  <div>
    <!-- Profile Banner -->
    <div class="container profile_banner">
      <div class="mb-3">
        <% if @band.photo.attached? %>
          <%= image_tag @band.photo, alt: "#{@band.title}", class: "profile_image" %>
        <% else %>
          <%= image_tag "default-profile-image.jpg", alt: "default profile image", class: "profile_image" %>
        <% end %>
      </div>

      <!-- Band Info Row -->
      <div class="row border solid">
        <div class="col-3">
          <h2 class="m-3"><%= @band.title %></h2>
        </div>
        <div class="col-9 text-end">
          <h4 class="m-3">Created: <%= @band.created_at.strftime("%b %d, %Y") %> by <%= @band.leader.first_name %> <%= @band.leader.last_name %></h4>
        </div>
      </div>
    </div>

    <!-- Band Details Section -->
    <div class="row mt-4">
      <div class="gap-5">
        <!-- Band Details Card -->
        <div class="band_details_card fs-4 d-flex flex-column mb-4">
          <h2>Band Details</h2>
          <div class="p-2"><i class="fa-solid fa-location-dot"></i> <%= @band.address %></div>
          <div class="p-2"><i class="fa-solid fa-music"></i> <%= @band.genre %></div>
          <div class="p-2"><i class="fa-solid fa-circle-info"></i> <%= @band.description %></div>
          <div class="p-2">
            <i class="fa-solid fa-drum fs-3"></i> We are looking for:
           <%= @band.searching_for_instruments.join(", ") %>
          </div>
        </div>

        <!-- Members Card -->
        <div class="band_details_card fs-4 d-flex flex-column">
          <h2>Members</h2>
          <% @members.each do |member| %>
            <%= link_to user_path(member) do %>
              <%= member.first_name %> <%= member.last_name %>
              (<%= member.instruments.join(", ") %> )
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- User Interaction Section -->
  <div class="user-info mt-3">
    <% if current_user != @band.leader %>
      <%= button_to 'Message Band Leader', chats_path(chat: { band_leader_id: @band.leader.id }), method: :post, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
